        /*
        CSS Selector = hva skal vi endre? header
        CSS Declaration = blokken hvor koden finnes, og som forteller oss hva vi skal endre og hvordan. display: flex
        CSS Rule =  hva og hvordan skal ting endres property: value; display: flex;
         */
        body {
          font-family: "Palatino Linotype";
        }

        header {
            display: flex;
            flex-direction: column;
            margin: 20px;
            padding: 30px;
            border-radius: 15px;
            background-color: rgba(148, 144, 173, 0.8);        
        }

        nav {
          padding: 0;
          gap: 15px;
        }

        a {
          text-decoration: none;
          color: rgb(41, 15, 90);
          font-size: large;
        }

        ul
        {
            display: flex;
            flex-direction: column;
            gap: 2px;
            list-style-type: circle;
        }

          img {
            width: 350px;
            height: auto;
            display: block;
            margin: 10px;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        h2 {
            background-color: rgb(127, 165, 255);
            margin: 20px;
            padding: 15px;
            border-radius: 20px;
            box-shadow: 20px;
        }

        .aboutTitle {
          background-color: rgb(58, 124, 88);
          color: white;
          padding: 10px;
          border-radius: 8px;
        }

        table {
          width: 80%;
          border-collapse: collapse;
          margin: 10px auto;
          border: 2px solid #4f4f4f;
        }

        th {
          background-color: #d9d9d9;
        }


        td {
          border: 1px solid #8a8a8a;
          padding: 8px 10px;
          text-align: left;
        }
        
        .hero {
            height: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .about {
            display: flex;
            flex-direction: column;
        }
